.card {
    position: relative;
    cursor: pointer;
    width: 400px;
    height: 300px;
   
  }
  
  .image-container img {
    transition: opacity 0.3s ease-in-out;
    border-radius: 20px;
  }
  
  .card h1 {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 10px;
    color: white; /* supaya kontras */
    opacity: 0;
  }
  
  /* hover hanya untuk gambar */
  .card:hover .image-container img {
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
    
  }

  .card:hover h1 {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
  